@use "../tools/" as t;

.b-list-with-divide {
  background-color: #5e607a;
  display: grid;
  gap: 1px;

  & > li {
    background-color: #00001a;
    padding-block: 30px;
  }

  & > li:first-child {
    padding-block: 0 30px;
  }

  & > li:last-child {
    padding-block: 30px 0;
  }
}
