@use "../tools/" as t;

.b-news-top-item {
  display: grid;
  grid-template-areas:
    "img number"
    "img headline"
    "img announce";
  justify-content: start;
  gap: 0 24px;

  &::before {
    grid-area: number;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #f15d51;
  }

  &__img {
    grid-area: img;
    inline-size: 100px;
    block-size: auto;
  }

  &__headline {
    grid-area: headline;
  }

  &__headline > a {
    color: #00001a;
  }

  &__announce {
    grid-area: announce;
    color: #5e607a;
  }

  &__headline > a:focus-visible {
    outline: 2px solid #f15d51;
    outline-offset: 4px;
  }

  @media (hover: hover) {
    &__headline > a:hover {
      color: #f15d51;
    }
  }

  @media (hover: none) {
    &__headline > a:active {
      color: #f15d51;
    }
  }
}
