@use "../tools/" as t;

.l-header {
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: 28px;
  align-items: center;
  justify-content: space-between;

  &__nav {
    display: none;
  }

  &__menu {
    block-size: 19px;
    inline-size: 40px;
    background-image: linear-gradient(
      #00001a 3px,
      #fff 3px 8px,
      #00001a 8px 11px,
      #fff 11px 16px,
      #00001a 16px 19px
    );
  }

  @include t.breakpoint(s) {
    &__nav {
      display: block;
    }

    &__menu {
      display: none;
    }
  }

  @include t.breakpoint(m) {
    grid-template-rows: 40px;
  }
}
