@use "../tools/" as t;

.l-homepage {
  max-inline-size: 1142px;
  margin-inline: auto;
  padding: 28px 16px;
  display: grid;
  gap: 64px;

  @include t.breakpoint(m) {
    & {
      padding: 90px 16px;
    }
  }
}
