@use "../tools/" as t;

.l-homepage {
  padding: 28px 16px;
  max-inline-size: 1142px;
  margin-inline: auto;
  display: grid;
  gap: 64px;

  &--scroll-lock {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  @include t.breakpoint(m) {
    & {
      padding: 90px 16px;
    }
  }
}
