@use "../tools/" as t;

.l-section {
  background-color: #00001a;
  padding: 24px 20px;
  display: grid;
  gap: 35px;

  &__headline {
    color: #e9aa52;
  }

  @include t.breakpoint(m) {
    padding: 32px 24px;
  }
}
